@import "utils/variables";
@import "utils/mixins";

@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  &__back {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 30px;
    height: 30px;
    & a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    & i {
      font-size: 20px;
      color: #000;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__banner {
    padding: 0px;
    width: 100%;
    & img {
      object-fit: cover;
      width: 100%;
      height: 45vh;
    }
  }

  &__content {
    background-color: $theme-background;
    margin-top: -50px;
    border-radius: 40px 40px 0px 0px;
    padding: 30px 0px 40px 0px;
    width: 100%;

    @media (min-width: 768px) {
      width: 80%;
      align-items: center;
      justify-content: center;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 0px 20px;

      @media (min-width: 768px) {
        justify-content: center;
        gap: 20px;
      }

      & h1 {
        @include logo-text;
        font-size: 28px;
      }

      & i {
        @include heart-icon;
        position: relative;
        padding-right: 20px;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0px 20px;

      &__section {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 20px;

        &__title {
          margin: 0px;
          font-size: 16px;
          font-family: Roboto;
          font-weight: 300;
          text-transform: uppercase;

          @media (min-width: 768px) {
            margin: 0px 10%;
          }
        }

        &__separator {
          width: 40px;
          height: 3px;
          background-color: $color-mint;
          margin: 5px 0px 15px 0px;

          @media (min-width: 768px) {
            margin: 5px 10% 15px 10%;
          }
        }

        &__items {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            box-shadow: 0px 4px 15px 0px #0000001a;
            border-radius: 15px;
            padding: 15px;
            opacity: 0;
            animation: fadeIn 0.8s ease forwards;

            &:nth-child(1) {
              animation-delay: 0.1s;
            }

            &:nth-child(2) {
              animation-delay: 0.3s;
            }

            &:nth-child(3) {
              animation-delay: 0.5s;
            }

            &:nth-child(4) {
              animation-delay: 0.7s;
            }

            &:nth-child(5) {
              animation-delay: 0.9s;
            }

            @media (min-width: 768px) {
              margin: 0px 10%;
            }

            &__title {
              margin: 0px;
              font-family: Roboto;
              font-size: 18px;
              font-weight: 500;
            }

            &__description {
              display: flex;
              justify-content: space-between;
              align-items: center;

              & p {
                margin: 0px;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
              }

              & h3 {
                margin: 0px;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    &__command {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      &__button {
        @include button;
        @include button-text;
        padding: 15px 50px;
      }
    }
  }
}
