// import variables
@import "variables";

// Pseudo-element mixin
@mixin pseudo-element {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// Typography mixins
@mixin logo-text {
  font-family: $font-family-logo;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
}

@mixin section-title {
  font-family: $font-family-base;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  font-variation-settings: "wdth" 100;
}

@mixin button-text {
  font-family: $font-family-base;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

@mixin paragraph-text {
  font-family: $font-family-base;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}

@mixin button {
  background-color: $theme-primary;
  color: white;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 0px 4px 10px 0px #00000040;
  padding: 0px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    &::after {
      opacity: 0.15;
    }
  }
  &::after {
    @include pseudo-element;
    background-color: #ffffff;
    opacity: 0;
    border-radius: 25px;
    box-shadow: 0px 4px 15px 0px #00000059;
    transition: opacity 0.3s ease;
  }
}

@mixin heart-icon {
  font-size: 21px;

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    @include pseudo-element;
    font-weight: 900;
    background: linear-gradient(to bottom, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
    content: "\f004";
  }
}
